<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.breeze.dao.NewsMapper">
    <resultMap id="BaseResultMap" type="com.breeze.model.NewsModel">
        <id column="news_id" property="news_id" jdbcType="BIGINT" />
        <result column="news_title" property="news_title" jdbcType="VARCHAR" />
        <result column="news_content" property="news_content" jdbcType="VARCHAR" />
        <result column="news_date" property="news_date" jdbcType="TIMESTAMP"/>
        <result column="news_img1" property="news_img1" jdbcType="VARCHAR" />
        <result column="news_img2" property="news_img2" jdbcType="VARCHAR" />
        <result column="news_img3" property="news_img3" jdbcType="VARCHAR" />
        <result column="news_img4" property="news_img4" jdbcType="VARCHAR" />
        <result column="news_img5" property="news_img5" jdbcType="VARCHAR" />

    </resultMap>


    <!-- 根据时间区间查询新闻 -->
    <select id="selectNewsListByDate" parameterType="java.lang.String" resultMap="BaseResultMap">
         select * from news where  news_date between #{endTime} and  #{currentTime}
    </select>

    <!-- 查询所有新闻 -->
    <select id="selectNewsList"  resultMap="BaseResultMap">
        select * from news
    </select>


</mapper>